.container{
background: #f6f6f6;
}

.head1{
color: rgb(8, 2, 2);
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 28px;
color: #252529;
margin-top:80px;
margin-left: 20px;
}

.line{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
color:#8A8A8F;
width: 227px;
height: 40px;
margin-left: 20px;
}

.box{
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.06);
border-radius: 25px;
}

.button{
color:white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px; 
background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
border-radius: 23px;
margin-left: 20px;
height: 50px;
width:400px;
}

