.heading{
  margin-top: 50px;
  text-align: center;
}

.line1{
  text-align: center;
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
}

.line2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align:center ; 
}

.button{
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
margin-left: 50px;
}

.line3{
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
width: 526px;
height: 28px;
text-align: center;
}