@import url('https://fonts.googleapis.com/css?family=Lobster');

.container{
  align-items: center;
}

.heading1{
  font-size: 49px;
  font-family: "Lobster";
  background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
   font-weight: 700;
  text-align: center;
   /* margin-left: 150px; */
}

.line1{
  text-align: center;
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
}

.line2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align:center ; 
}

.buttonreset{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
margin-left: 80px;
background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
  border-radius: 23px;
  height: 50px;
  color:white;
  font-size:20px;
  font-weight: 400;
  font-family:Roboto;
width: 370px;
}

.line3{
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
width: 526px;
height: 28px;
text-align: center;
}