.container{
  height: max-content;
  justify-content: center;
  padding: 0px;
  text-align: center;
  align-items: center;
  background-color:#f7f5f5 ;
  border: none;
 
}


.image{
  height: 400px;
  width: 100%;
  margin-right: 0px;
  box-shadow:0px 4px 20px rgba(0, 0, 0, 0.4); 
}

.line1{
color:white;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
margin-top: -40px;
text-align: right;

}

.lineStyle{
  border-left: 1px solid;
}

.vector{
  margin-top: 32px;
  margin-right: 40px;
}

.line2{
  font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 37px;
text-align: left;
margin-left: 20px;
}
.line3{
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 37px;
text-align: right;
margin-right: 70px;
float: right;
margin-top: -70px;
}

.line4{
  text-align: left;
  margin-left: 20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #8A8A8F;
}

.line5{
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 27px;
text-align: right;
margin-top: -60px;
margin-right: 55px;
padding: 10px;
}

.bi{
  padding: 2px;
}

.hr{
  margin: 10px;
}

.line6{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
text-align: left;
color: #8A8A8F;
margin-left: 20px;
height: 20px;
}

.line7{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
height: 13px;
color: gray;
margin-top: -30px;
text-align: right;
margin-right: 80px;
}

.line8{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
height: 60px;
color: #252529;
text-align: left;
margin-left: 10px;
padding: 10px;
}

.line9{
background: #FFFFFF;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
border-radius: 0px 15px 15px 0px ;
height: 76px;
width: 300px;
/* text-align: center; */
margin-left: 100px;
margin-top: -76px;
padding-top: 10px;
}

.image1{
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.06);
border-radius: 15px 0px 0px 15px;
  width: 76px;
height: 76px;
margin-right: 172px;
}

.iconImage{
  height: 20px;
  width: 20px;
  /* margin-top: -10px;
  margin-left: 20px; */
 margin-left: 0px;
padding-bottom: 1px;
display: flex;
}

.bbtn{
  margin-top: 20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
letter-spacing: -0.24px;
color: #FFFFFF;
background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
border-radius: 23px;
}


.slider1{
  background-color: #e08383;
  border-radius: 50%; 
  margin: 2px;
}

.slider2{
  background-color: #7ad78b;
  margin: 2px;
  border-radius: 50%; 
}
