.container{
  align-items: center;
}

.line0{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
align-items: center;
color: #8A8A8F;
margin-left: 20px;
}
.bbtn{
margin-left: 15px;
background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
border-radius: 23px;
height: 50px;
color: white;
text-align: center;
width: 400px;
}