
.h1{
    font-family: 'Roboto Slab';
font-weight: 700;
font-size: 28px;
color: #252529;
height: 43px;
margin-left: -290px;
padding-top: 20px;
}
.container{
    border: 1px solid rgb(255, 255, 255);
    margin-top: 50px;
    background-color: #824343;
    margin-bottom: 20px;
    width: 1200px;
    height: 100vh;
 

}
/* input{
  margin: 10px; 
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
border-radius: 25px;
border: none;
padding: 15px;
width:410px;
height: 50px;
} */
.btn{
    background: linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
border-radius: 23px;
border: none;
width:410px;
height: 50px;
color: white;
margin-top: 20px;
}
.btn:hover{
    background:linear-gradient(90deg, #6025D6 0%, #9325D6 100%);
    color: white;
}
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
.btn2{
    width:410px;
height: 50px;
color: black;
border-radius: 23px;
font-family: "Roboto";
border: none;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.3);
font-size: 17px;

}
.img{
    height: 40px;
    width: 40px;
  
}
.p1{
    padding-top: 10px;
    font-size: 13px;
    color:#8A8A8F ;
}
.p2{
    font-size: 17px;
    color:#8A8A8F ;
}
.btn3{
   color: #6025D6;
  border: none;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 900;
}